{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

    <div id="react-root" data-props="{{ {props}|json_encode }}"></div>
        
{% endblock %}
