body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

aside{
    background-color: aqua;
    height: 100vh;
}

main{
    background-color: beige;
}

.header{
    background-color: white;
    margin:0;
}
