body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Fredoka One', cursive;
}

.background{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/14383.jpg);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.background::before{
    content: "";
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 14, 24, 0.37); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}

main{
    z-index: 5;
}


.welcome{
    font-size: 34px;
    margin: 5% 0%;
}



