.ideaBox{
    color: rgb(255, 255, 255);
    background-color: rgba(187, 224, 255, 0.062);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.281);
    border-top: 1px solid rgba(122, 206, 245, 0.192);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    padding-left: 1%;
    border-radius: 5px;
    margin: 4% 0%;
    padding: 4%;
}

.ideaBox .title{
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 18px;
}

.ideaBox .content{
    margin-bottom: 3%;
    font-size: 13px;
}

.button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.button i{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.button .liked{
    color: rgba(77, 165, 247, 0.774);
}

.button .disliked{
    color: rgba(253, 62, 62, 0.774);
}