.ideaBox{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.541);
    border-top: 1px solid rgba(255, 255, 255, 0.192);
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    padding-left: 1%;
    border-radius: 5px;
    margin: 2% 0%;
    padding: 4%;
}

.ideaBox .title{
    font-weight: bold;
    margin-bottom: 3%;
    font-size: 18px;
}

.ideaBox .content{
    margin-bottom: 3%;
    font-size: 13px;
}

.button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.button i{
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}